<p id="notice"><%= notice %></p>

<p>
  <strong>Worker-email:</strong>
  <%= @vacation.worker_email %>
</p>

<p>
  <strong>Start-date:</strong>
  <%= @vacation.start_date %>
</p>

<p>
  <strong>End-date:</strong>
  <%= @vacation.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vacation.status %>
</p>

<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>
